<%- include('header') %>
<div>
    <h2>Projeto desenvolvido no workshop <a href='https://www.youtube.com/playlist?list=PLBNBxpMAbyhXNIbnhpgDxkeSOS5E8aIqW'>Fullstack Lab</a> do <a href="https://www.youtube.com/channel/UC07JWf9A0B1scApbS1Te7Ww">DevPleno</a></h2>
    <p>Sistema para criar publicações associadas a categorias</p>
    <p>Publicado por: <a href="https://github.com/MrbCabral">Miguel Cabral</a></p>
    <p>Código disponível em: <a href="https://github.com/MrbCabral/como-fazer">https://github.com/MrbCabral/como-fazer</a></p>
</div>
<div>
    <h4>Ajuda</h4>
    <p>Para visualizar as publicações da categoria, clique no título da categoria em /categorias <br/>
    <p>Para visualizar o conteúdo da publicação, clique no título da publicação em /publicacoes/categoria/:id</p>
</div>


<%- include('footer') %>